*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 10vh;
    background-color: #F4ECE6;
    background-position: center;
    background-size: cover;
}

nav{
    width: 100%;
    text-align: center;
}

nav ul{
    background: white;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content:end;
}

nav ul li{
    padding: 10px 30px;
    /* border: black 1px solid; */
    border-radius: 50px;
    list-style: none;
    font-family: sans-serif;
}

.bar{
    font-size: 15px;
    text-decoration: none;
    color: black;
    transition: color 1s;
}

.title-img{
    position:absolute;
    left: 10px;
}

.title{
    font-size: 2rem;
    font-weight: bold;
}

.action{
    color: #0050FF;
}

.bar:hover{
    color: #0050FF;
    text-decoration: solid;
}

.container{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-profile-box{
    width: 400px;
    height: 550px;
    background: #F4ECE6;
    text-align: center;
    padding: 40px 90px;
    color: #fff;
    position: relative;
    border-radius: 20px 0 0 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.menu-icon{
    position: absolute;
    width: 25px;
    left: 20px;
    top: 30px;
    font-size: 2.5rem;
    color: black;
}

.setting-icon{
    position: absolute;
    width: 25px;
    right: 30px;
    top: 30px;
    font-size: 2.5rem;
    color: black;
}

.profile-pic{
    margin-top: 40px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 6px;
}

.right-profile-box{
    width: 450px;
    height: 550px;
    background:white;
    text-align: center;
    padding: 40px 20px;
    color: #fff;
    position: relative;
    border-radius: 0 20px 20px 0;
}

.name{
    margin: 2rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
}

.career{
    font-size: 1.3rem;
    letter-spacing: 6px;
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-family: sans-serif;
    color: black;
}

.social-media{
    padding-top: 1rem;
    border-top: 4px solid black;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.icon{
    font-size: 2.5rem;
    color: black;
}

.H1-index{
    position: absolute;
    top: 40px;
    left: 30px;
    font-size: 100px;
    font-family: sans-serif;
    color: black;
}

.slogn{
    position: absolute;
    top: 180px;
    left: 30px;
    font-size: 30px;
    font-family: sans-serif;
    color: black;
}

.resume-icon{
    position: absolute;
    font-size: 13px;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    top: 250px;
    left: 30px;
    font-weight: bold;
    background: #0050FF;
    font-family: sans-serif;
    transition: background-color .5s,color .5s,border .5s;
}

.resume-icon:hover{
    border:  1px solid black;
    background-color: white;
    color: black;
}

.PROJECTS-icon{
    position: absolute;
    font-size: 13px;
    text-decoration: none;
    color: black;
    border:  1px solid black;
    padding: 10px 30px;
    border-radius: 50px;
    top: 250px;
    left: 160px;
    font-weight: bold;
    background: white;
    font-family: sans-serif;
    transition: background-color .5s,color .5s,border .5s;
}

.PROJECTS-icon:hover{
    border:  none;
    background-color: #0050FF;
    color: white;
}

.introduce{
    position: absolute;
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    bottom: 90px;
    left: 10px;
    font-weight: bold;
    text-align: left;
    font-family: sans-serif;
    color: black;
    padding: 10px;
}

.footer{
    margin-top: 90px;
    display: flex;
    width: 100%;
    height: 80px;
    background: white;
    border-top: 1px solid black;
}

.foot-bar-1{
    background-color: white;
    width: 100%;
    padding: 1rem;
}

.foot-bar-1 p{
    margin-top: 10px;
}


