.project-font-7{
    margin-top: 5vh;
    font-family: sans-serif;
    width: 77vh;
    height: 10vh;
    text-align: center;
    font-size: 1.1rem;
}

.contanter-resume{
    height: 110vh;
}

.box-1{
    width: 724px;
    height: 380px;
    background: white;
    margin-top: 5vh;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.box-1 .left{
    padding: 3rem 3rem;
    background-color: white;
    width: 60%;
    height: 100%;
}

.box-1 .right{
    /* padding: 7rem 3rem 2rem 0rem; */
    background-color: white;
    width: 40%;
    height: 100%;
    font-size: 1rem;
}

.pro-font-7{
    font-size: 1.2rem;
    margin-top: 1rem;
}

.font-title{
    font-size: 1.5rem;
}

.pic-2{
    width: 160px;
}